<div class="modal fade" id="loginModal" tabindex="-1" role="form" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-form">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Log in to Budget Peace</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="email">Email Address</label><br/>
                        <input type="text" data-ng-model="email" id="email" class="form-control" placeholder="Enter email"/><br/>
                        <label for="password">Password</label><br/>
                        <input type="password" data-ng-model="password" id="password" class="form-control" placeholder="Enter password"/><br/>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" >Log In</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>