<div class="jumbotron">
  <h1>Welcome to Budget Peace</h1>
  <p class="lead">
    <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Peace_sign.svg/220px-Peace_sign.svg.png" alt="I'm Yeoman"><br>
    Free yourselves from financial oppression
  </p>
    <p><a class="btn btn-lg btn-success" data-toggle="modal" data-target="#regModal">Register</a></p>
    <p><a class="btn btn-lg btn-primary" data-toggle="modal" data-target="#loginModal">Log In</a></p>
</div>

<div class="footer">
  <ul>
      <li><a href="#">About Budget Peace</a></li>
      <li><a href="#">Our Mission</a></li>
      <li><a href="#">Our Team</a></li>
      <li><a href="#">Contact Us</a></li>
  </ul>
</div>

<div class="container" ng-include="'views/modals/registration.html'" ng-controller="RegistrationCtrl"></div>
<div class="container" ng-include="'views/modals/login.html'" ng-controller="LoginCtrl"></div>
