<div class="jumbotron">
  <h1>Welcome to Budget Peace</h1>
  <p class="lead">
    <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Peace_sign.svg/220px-Peace_sign.svg.png" alt="I'm Yeoman"><br>
    Free yourselves from financial oppression
  </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">Register</a></p>
    <p><a class="btn btn-lg btn-primary" ng-href="#">Log In</a></p>
</div>

<div class="footer">
  <ul>
      <li><a href="#">About Budget Peace</a></li>
      <li><a href="#">Our Mission</a></li>
      <li><a href="#">Our Team</a></li>
      <li><a href="#">Contact Us</a></li>
  </ul>
</div>
